h1 {
   color: #5AB272; font-size: 40px; font-style: oblique; text-align: center;
}

p {
   color:#82B47C; font-size:25px; font-style:oblique; text-align: left; 
}
body {
  background-color: #FCF2C6
}
